# 服务器端口
PORT=8000
# 数据库地址 (默认使用 SQLite，生产环境建议换成 PostgreSQL)
# 系统库
DATABASE_URL_SYSTEM=sqlite:///./data/system.db
# 业务库
DATABASE_URL_BLACKLIST=sqlite:///./data/blacklist.db
# OneBot API 地址 (用于发送验证码)
ONEBOT_API_URL=http://127.0.0.1:3000